
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    padding-bottom: 5rem;
}

.level {
    display: flex;
    align-items: center;
}

.level-item {
    margin-right: 1em;
}

.flex {
    flex: 1;
}

.mr-1 {
    margin-right: 1em;
}

.ml-a {
    margin-left: auto;
}

[v-cloak] {
    display: none;
}